_tmp_inp_shapes
_tmp_ord_mod
runs/
genschedule
n_stages
ngpus
nservers
training_output
train_reports
parent_process
gantt_logs/
args
morph.*
*.out
*.err
*.csv
print_stats.py
poll.*
profiles/
Megatron-LM/logs/*
Megatron-LM/ssh_logs/*
available_machines.out
Megatron-LM/scripts
Megatron-LM/*.sh
varuna.env
varuna_current_machines
all_machines

varuna/genschedule
varuna/apex/
varuna/versions
tools/simulator/simulate-varuna

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class
profiles/
profiling/analyse*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
docs/_static
docs/_templates
docs/_build
Megatron-LM/examples/pretrain_gpt2_varuna.sh
Megatron-LM/varuna_current_machines
Megatron-LM/varuna.env
.DS_Store
examples/.DS_Store
