_tmp_inp_shapes
_tmp_ord_mod
runs/
varuna/genschedule
genschedule
n_stages
ngpus
nservers
training_output
train_reports
ssh_out*
parent_process
gantt_logs/
args
ssh_err*
morph.*
*.out
*.err
*.csv
print_stats.py
poll.*
available_machines.out
Megatron-LM/setup_remote.sh
varuna
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
varuna/varuna_pretraining_megatron_not_converging.py
varuna/varuna_pretraining_sansdataparallel.py
